In [1]:
import requests
from datetime import datetime, timedelta
import pandas as pd

# Configuration
alpha_host = "https://sensor:wd40@smartpouch.foobar.rocks/influx"
alpha_database = "master"

# Utility functions
def get_influxdb_url(host, database):
    return f"{host}/query?db={database}&format=line"

def query_influxdb(host, database, query):
    url = get_influxdb_url(host, database)
    params = {
        "q": query
    }
    response = requests.get(url, params=params)
    response.raise_for_status()
    return response.json()

In [2]:
def fetch_time_range(start_time, end_time):
    data = []
    # Query the tables in "master" database on "alpha"
    query = f'SHOW MEASUREMENTS ON "{alpha_database}"'
    response = query_influxdb(alpha_host, alpha_database, query)
    tables = [table[0] for table in response['results'][0]['series'][0]['values']]
    
    # Read data from each table within the last 10 minutes
    points_to_write = []
    for table in tables:
        if table != "___________________________*" and table == "schnieboard_events":
            query = f'SHOW FIELD KEYS FROM "{table}";'
            query += f'SELECT * FROM "{table}" WHERE time >= \'{start_time.strftime("%Y-%m-%dT%H:%M:%SZ")}\' AND time <= \'{end_time.strftime("%Y-%m-%dT%H:%M:%SZ")}\''
            response = query_influxdb(alpha_host, alpha_database, query)
            if "series" in response["results"][0]:
                value_fields = [_[0] for _ in response["results"][0]["series"][0]["values"]]
    
                for series in response["results"][1].get("series", []):
                    measurement = series["name"]
                    columns = series["columns"]
                    values = series["values"]
    
                    for value_set in values:
                        fields = dict(zip(columns, value_set))
                        backpart = fields["time"].split(".")[1] if "." in fields["time"] else ""
                        tim = int(datetime.strptime(fields["time"].split(".")[0].replace("Z", ""), "%Y-%m-%dT%H:%M:%S").timestamp()) + float("0." + backpart.split("Z")[0])
                        tim = f"{(tim*1e6):200.0f}".strip()
                        del fields["time"]
                        tags_str = ",".join([f'{field}={value}' for field, value in fields.items() if value != None and field not in value_fields])
                        fields_str = ",".join([f'{field}={value}' for field, value in fields.items() if value != None and field in value_fields])
                        line = f'{measurement}{"," + tags_str if tags_str else ""} {fields_str} {tim}'
                        fields_small = {"tim": tim}
                        for field, value in fields.items():
                            if value != None and field in value_fields and field != "temperature":
                                fields_small[field] = value
                        if "type" in fields and fields["type"] == "tris":
                            data.append(fields_small)
    df = pd.DataFrame(data)
    return df

In [3]:
timeslots = [
    # Fahrt HA - FFGG
    ["2023-07-11 20:26:00", "2023-07-11 20:37:43", "Stillstand"],
    ["2023-07-11 20:37:58", "2023-07-11 20:41:30", "Verladung"],
    ["2023-07-11 20:43:36", "2023-07-11 20:50:00", "Verladung"],
    ["2023-07-11 20:50:44", "2023-07-11 20:56:14", "Stillstand"],
    ["2023-07-11 20:37:58", "2023-07-11 20:41:30", "Verladung"],
    ["2023-07-11 20:56:55", "2023-07-12 00:09:00", "LKW"],
    ["2023-07-12 00:55:00", "2023-07-12 04:03:00", "LKW"],

    # Zugfahrt FFGG - FD
    ["2023-07-14 22:30:00", "2023-07-14 23:00:00", "Stillstand"],
    ["2023-07-14 22:30:00", "2023-07-14 23:00:00", "Stillstand"],
    # rest der Fahrt unklar
    
    # Fahrt FFGG - LL
    ["2023-07-16 13:45:30", "2023-07-16 14:47:00", "Stillstand"],
    ["2023-07-16 15:45:00", "2023-07-16 15:57:00", "Auto"],
    ["2023-07-16 15:57:50", "2023-07-16 16:32:12", "Stillstand"],
    ["2023-07-16 16:38:00", "2023-07-16 17:48:00", "Auto"],
    ["2023-07-16 18:02:00", "2023-07-16 19:12:00", "Auto"],
]

In [4]:
outer_data = {}
for element in timeslots:
    #end_time = datetime.utcnow()
    #start_time = end_time - timedelta(minutes=22)
    start_time = datetime.strptime(element[0], "%Y-%m-%d %H:%M:%S")
    end_time = datetime.strptime(element[1], "%Y-%m-%d %H:%M:%S")
    label = element[2]
    df = fetch_time_range(start_time, end_time)
    if label not in outer_data:
        outer_data[label] = pd.DataFrame()
    outer_data[label] = pd.concat([outer_data[label], df])

In [99]:
print(outer_data.keys())
outer_data["LKW"]

dict_keys(['Stillstand', 'Verladung', 'LKW', 'Auto'])

,tim,magni_mean,magni_stdev,phi_mean,phi_stdev,theta_mean,theta_stdev
0,1689101817448000,10053.523554,56.341535,0.078796,0.006555,2.135833,0.054596
1,1689101819953000,10049.643323,124.426074,0.083901,0.005140,2.113515,0.048012
2,1689101822458000,10062.691688,138.906754,0.081721,0.006565,2.126468,0.056348
3,1689101824963000,10066.428170,89.372896,0.084522,0.006924,2.083161,0.064660
4,1689101827468000,10059.780514,57.223895,0.086298,0.004191,2.048362,0.036907
...,...,...,...,...,...,...,...
3178,1689124053192000,9990.820588,5.831768,0.031377,0.000768,1.205945,0.032735
3179,1689124055694000,9990.403269,6.755278,0.031188,0.000985,1.213434,0.027920
3180,1689124058197000,9983.173372,9.944683,0.031609,0.001161,1.223933,0.025617
3181,1689124060699000,9981.080034,7.844513,0.031440,0.001236,1.212493,0.034031
3182,1689124063202000,9985.739346,8.635274,0.030237,0.001728,1.185185,0.030417

In [5]:
def build_datasets(pd_i, rowcount=5, interval=2500000, label=""):
    out_data = []
    for row in range(pd_i.shape[0]):
        if row > rowcount:
            k = pd_i.iloc[row-rowcount:row]
            delta = int(k["tim"].iloc[-1]) - int(k["tim"].iloc[0])
            if delta < (rowcount-1)*interval+1000000:
                del k["tim"]
                j = k.values.reshape(-1)
                out_data.append(j)
    out_frame = pd.DataFrame(out_data)
    #out_frame["label"] = label
    out_frame.insert(0, "label", label)
    return out_frame

In [6]:
big_frame_list = []
for key in outer_data.keys():
    big_frame_list.append(build_datasets(outer_data[key], label=key))
big_frame = pd.concat(big_frame_list)

In [14]:
big_frame.to_pickle("big_framedata.pkl")